page-menu {
    .hide-card {
        -webkit-box-shadow: none!important;
    }
    .custom-avatar {
        // height: 30vw;
        display: inline-block;
    }
    .custom-image {
        width: 80%!important;
        height: auto!important;
        margin-bottom: -70px!important;
        display: inline!important;
    }
    .span-empresa-menu {
        color: #FDB313;
        font-weight: 400;
        display: block;
        width: 255px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -20px;
        padding: 20px;
        text-align: right;
        margin-top: 50px;
    }
}