<ion-menu type="reveal" id="myMenu" [content]="content">
    <ion-header style="background-color: #484848;">

        <ion-card text-center class="hide-card" style="background-color: #484848;">
            <!-- <img src="http://placehold.it/300x200" *ngIf="!base64Image" class="custom-avatar" /> -->
            <!-- <img src="http://placehold.it/300x200" *ngIf="!photoTaken && !photoSelected" class="custom-avatar" /> -->
            <div (click)="takePicture()" class="custom-avatar">
                <img src="assets/imgs/no-img.png" *ngIf="!photoTaken && !photoSelected" class="custom-avatar" />
                <img src="{{cameraData}}" *ngIf="photoTaken" class="custom-avatar" />
                <img src="{{cameraUrl}}" *ngIf="photoSelected" class="custom-avatar" />
            </div>
            <!-- <img [style.background-image]="cameraUrl" *ngIf="photoSelected" class="custom-avatar" style="background-size: cover;" /> -->
            <!-- <img [src]='sanitizer.bypassSecurityTrustUrl({{cameraUrl}})' *ngIf="photoSelected" class="custom-avatar" /> -->

            <!-- <img src="cameraUrl" *ngIf="!cameraUrl" class="custom-avatar" /> -->
            <!-- <img src="base64Image" *ngIf="base64Image" /> -->
            <!-- <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(cameraData)" *ngIf="photoTaken"> -->
            <!-- <img src="cameraUrl/300x200" *ngIf="photoSelected" class="custom-avatar"> -->

            <h2 style="color: #FDB413">{{ nomePessoa }}</h2>
            <p style="color: #FDB413">{{ loginPessoa }}</p>
            <hr>
        </ion-card>

    </ion-header>


    <ion-content style="background-color: #424242;">
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [class.no-click]="p.isVisible==false" style="background-color: #424242;">
                <ion-icon [name]="p.icon" item-left item-start color="navbarColor" *ngIf='p.isVisible'></ion-icon>
                <h4 *ngIf='p.isVisible' style="color: #FDB413">{{p.title | translate }}</h4>
            </button>
            <!-- 
            <button block (click)="openCamera()">Open camera</button>
            <button block (click)="selectFromGallery()">Select from gallery</button> -->

            <ion-item menu-close ion-item color="white" (click)="logout()" class="my-position-button" style="background-color: #424242;">
                <ion-icon ios="ios-exit" md="ios-exit" item-start color="navbarColor"></ion-icon>
                <h4 style="color: #FDB413">{{ 'SAIR' | translate }}</h4>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>