<ion-header>
    <ion-grid style="position: fixed;height: 34%;" class="content-stable">
        <ion-row>
            <ion-col>
                <img src="assets/imgs/logo_joy.png" class="logo-style">
                <div padding class="text-under-logo">
                    <p>{{ 'HOME_TEXT' | translate }}</p>
                </div>
                <div>
                    <ion-segment [(ngModel)]="segment" class="background-stable ion-segment-style">
                        <ion-segment-button value="login">
                            Login
                        </ion-segment-button>
                        <ion-segment-button value="cadastrarEmpresa">
                            {{ 'CADASTRAR_EMPRESA' | translate }}
                        </ion-segment-button>
                    </ion-segment>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content padding>
    <div style="margin-top: 200px;" class="fixed-content">

        <p>Informe os dados abaixo que entraremos em contato</p>
        <div [ngSwitch]="segment">
            <ion-list *ngSwitchCase="'cadastrarEmpresa'">
                <form [formGroup]="cadastrarEmpresaForm" (ngSubmit)="submeterEmpresa()" padding>

                    <ion-item>
                        <ion-label stacked>{{ 'NOME_FANTASIA_EMPRESA' | translate }}</ion-label>
                        <ion-input formControlName="nomeFantasia" [(ngModel)]="usuarioEntity.nomeFantasia" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
                    </ion-item>
                    <div *ngIf="!cadastrarEmpresaForm.get('nomeFantasia').valid && cadastrarEmpresaForm.get('nomeFantasia').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
                    <div *ngIf="cadastrarEmpresaForm.get('nomeFantasia').hasError('maxlength')" [ngClass]="'class-error-form'">{{ 'MAX_100_CARACTERES' | translate }}</div>

                    <ion-item>
                        <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
                        <ion-input formControlName="login" [(ngModel)]="usuarioEntity.login" type="email" [readonly]="isReadOnly"></ion-input>
                    </ion-item>
                    <div *ngIf="(!cadastrarEmpresaForm.get('login').valid && cadastrarEmpresaForm.get('login').touched) && !cadastrarEmpresaForm.get('login').hasError('pattern')" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
                    <div *ngIf="cadastrarEmpresaForm.get('login').hasError('pattern')" [ngClass]="'class-error-form'">{{ 'EMAIL_INVALIDO' | translate }}</div>

                    <ion-item>
                        <ion-label stacked>{{ 'NOME_CONTATO' | translate }}</ion-label>
                        <ion-input formControlName="pessoaContato" [(ngModel)]="usuarioEntity.pessoaContato" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
                    </ion-item>
                    <div *ngIf="!cadastrarEmpresaForm.get('pessoaContato').valid && cadastrarEmpresaForm.get('pessoaContato').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
                    <div *ngIf="cadastrarEmpresaForm.get('pessoaContato').hasError('maxlength')" [ngClass]="'class-error-form'">{{ 'MAX_100_CARACTERES' | translate }}</div>

                    <ion-item>
                        <ion-label stacked>{{ 'TELEFONE' | translate }}</ion-label>
                        <ion-input formControlName="telefone" [(ngModel)]="usuarioEntity.telefone" type="text"></ion-input>
                    </ion-item>
                    <div *ngIf="cadastrarEmpresaForm.get('telefone').hasError('maxlength')" [ngClass]="'class-error-form'">{{ 'MAX_50_CARACTERES' | translate }}</div>


                    <div>
                        <button ion-button block type="submit" color="navbarColor" class="margin-button-save span-style-color">{{ 'ENVIAR' | translate }}</button>
                    </div>
                </form>

            </ion-list>

            <ion-list *ngSwitchCase="'login'">
                <form [formGroup]="loginForm" (ngSubmit)="submeterLogin()" padding>

                    <ion-item>
                        <ion-label stacked color="dark">{{ 'EMAIL' | translate }}</ion-label>
                        <ion-input formControlName="login" type="email" placeholder="Ex.: {{ 'PLACE_EMAIL' | translate }}" spellcheck="false" autocapitalize="off"></ion-input>
                    </ion-item>
                    <div *ngIf="(!loginForm.get('login').valid && loginForm.get('login').touched) && !loginForm.get('login').hasError('pattern')" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
                    <div *ngIf="loginForm.get('login').hasError('pattern')" [ngClass]="'class-error-form'">{{ 'EMAIL_INVALIDO' | translate }}</div>

                    <ion-item>
                        <ion-label stacked color="dark">{{ 'SENHA' | translate }}</ion-label>
                        <ion-input formControlName="senha" type="password" placeholder="{{ 'DIGITE_SENHA' | translate }}"></ion-input>
                    </ion-item>
                    <div *ngIf="!loginForm.get('senha').valid && loginForm.get('senha').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

                    <div>
                        <button ion-button block type="submit" color="navbarColor" class="margin-button-save span-style-color">{{ 'ENTRAR' | translate }}</button>
                    </div>
                </form>

                <div class="forgot-pass-style-div">
                    <a (click)="goRecuperarSenha()" class="botao01">{{ 'ESQUECI_SENHA' | translate }}</a>
                </div>

            </ion-list>
        </div>

    </div>

</ion-content>