page-home {
    .botao01 {
        color: #222222;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
    }
    .forgot-pass-style-div {
        text-align: center;
        margin-top: 10px;
    }
}