<ion-header>
    <!-- <ion-navbar color="navbarColor"> -->
    <ion-navbar color="navbarColor">
        <ion-title>
            {{ 'FILTRAR_VAGAS' | translate }}
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="closeModal()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="filtroForm" (ngSubmit)="submeterFiltro()">

        <ion-list>
            <span>Local</span>
            <ion-item>
                <ion-label class="my-label">{{ 'PROVINCIA' | translate }}</ion-label>
                <ion-select formControlName="idEstado" [(ngModel)]="vagaDetalheEntity.idEstado" (ionChange)="getCidadesByEstadoPopOver(vagaDetalheEntity.idEstado)" cancelText="{{ 'CANCELAR' | translate }}">
                    <ion-option *ngFor="let estado of estados" value="{{estado.idEstado}}">{{estado.nome}}</ion-option>
                </ion-select>
            </ion-item>
            <!-- <div *ngIf="!filtroForm.get('idEstado').valid && filtroForm.get('idEstado').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO_PROVINCIA' | translate }}</div> -->

            <ion-list>
                <ion-item>
                    <ion-label class="my-label">{{ 'CIDADE' | translate }}</ion-label>
                    <ion-select formControlName="idCidade" [(ngModel)]="vagaDetalheEntity.idCidade" cancelText="{{ 'CANCELAR' | translate }}">
                        <ion-option *ngFor="let cidade of cidades" value="{{cidade.idCidade}}">{{cidade.cidade}}</ion-option>
                    </ion-select>
                </ion-item>
                <!-- <div *ngIf="!filtroForm.get('idCidade').valid && filtroForm.get('idCidade').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO_CIDADE' | translate }}</div> -->
            </ion-list>

            <!-- <ion-list>
                <ion-item>
                    <ion-label class="my-label">{{ 'EMPRESA' | translate }}</ion-label>
                    <ion-select formControlName="idEmpresa" [(ngModel)]="vagaDetalheEntity.idEmpresa" cancelText="{{ 'CANCELAR' | translate }}">
                        <ion-option *ngFor="let empresa of empresas" value="{{empresa.idEmpresa}}">{{empresa.fantasia}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list> -->

            <!-- <span>{{ 'DADOS_IDIOMA' | translate }}</span>
            <ion-item>
                <ion-label class="my-label">{{ 'GRAU_ENTENDIMENTO' | translate }}</ion-label>
                <ion-select formControlName="grauEntendimento" [(ngModel)]="vagaDetalheEntity.grauEntendimento" class="font-size-select" cancelText="CANCELAR">
                    <ion-option value="NENHUM">{{ 'NENHUM' | translate }}</ion-option>
                    <ion-option value="BASICO">{{ 'BASICO' | translate }}</ion-option>
                    <ion-option value="INTERMEDIARIO">{{ 'INTERMEDIARIO' | translate }}</ion-option>
                    <ion-option value="AVANCADO">{{ 'AVANCADO' | translate }}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label class="my-label">{{ 'GRAU_FALA' | translate }}</ion-label>
                <ion-select formControlName="grauFala" [(ngModel)]="vagaDetalheEntity.grauFala" class="font-size-select" cancelText="CANCELAR">
                    <ion-option value="NENHUM">{{ 'NENHUM' | translate }}</ion-option>
                    <ion-option value="BASICO">{{ 'BASICO' | translate }}</ion-option>
                    <ion-option value="INTERMEDIARIO">{{ 'INTERMEDIARIO' | translate }}</ion-option>
                    <ion-option value="AVANCADO">{{ 'AVANCADO' | translate }}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label class="my-label">{{ 'GRAU_ESCRITA' | translate }}</ion-label>
                <ion-select formControlName="grauEscrita" [(ngModel)]="vagaDetalheEntity.grauEscrita" class="font-size-select" cancelText="CANCELAR">
                    <ion-option value="NENHUM">{{ 'NENHUM' | translate }}</ion-option>
                    <ion-option value="BASICO">{{ 'BASICO' | translate }}</ion-option>
                    <ion-option value="INTERMEDIARIO">{{ 'INTERMEDIARIO' | translate }}</ion-option>
                    <ion-option value="AVANCADO">{{ 'AVANCADO' | translate }}</ion-option>
                </ion-select>
            </ion-item> -->

            <button ion-button block style="margin-top: 20px;" color="navbarColor" class="span-style-color">{{ 'APLICAR_FILTRO' | translate }}</button>
        </ion-list>

    </form>

</ion-content>