<ion-header>
    <ion-navbar color="navbarColor">
        <ion-title>
            {{ 'FILTRAR_VAGAS' | translate }}
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="closeModal()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="filtroForm" (ngSubmit)="submeterFiltro()">

        <ion-list>
            <ion-item>
                <ion-label class="my-label">{{ 'LABEL_RAMO_ATUACAO' | translate }}</ion-label>
                <ion-select formControlName="idRamoEmpresa" [(ngModel)]="vagaDetalheEntity.idRamoEmpresa" style="font-size: 14px;" cancelText="{{ 'CANCELAR' | translate }}">
                    <ion-option value="" selected="true">{{ 'LABEL_TODAS_INDUSTRIAS' | translate }}</ion-option>
                    <ion-option *ngFor="let ramo of ramoEmpresa" value="{{ramo.idRamoEmpresa}}">{{ramo.ramoEmpresa}}</ion-option>
                </ion-select>
            </ion-item>

            <!-- <span>Local</span> -->
            <ion-item style="border-top: 0.55px solid #fff;">
                <ion-label class="my-label">{{ 'PROVINCIA' | translate }}</ion-label>
                <ion-select formControlName="idEstado" [(ngModel)]="vagaDetalheEntity.idEstado" (ionChange)="getCidadesByEstadoPopOver(vagaDetalheEntity.idEstado)" cancelText="{{ 'CANCELAR' | translate }}">
                    <ion-option *ngFor="let estado of estados" value="{{estado.idEstado}}">{{estado.nome}}</ion-option>
                </ion-select>
            </ion-item>
            <!-- <div *ngIf="!filtroForm.get('idEstado').valid && filtroForm.get('idEstado').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO_PROVINCIA' | translate }}</div> -->

            <ion-list>
                <ion-item>
                    <ion-label class="my-label">{{ 'CIDADE' | translate }}</ion-label>
                    <ion-select formControlName="idCidade" [(ngModel)]="vagaDetalheEntity.idCidade" cancelText="{{ 'CANCELAR' | translate }}">
                        <ion-option *ngFor="let cidade of cidades" value="{{cidade.idCidade}}">{{cidade.cidade}}</ion-option>
                    </ion-select>
                </ion-item>
                <!-- <div *ngIf="!filtroForm.get('idCidade').valid && filtroForm.get('idCidade').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO_CIDADE' | translate }}</div> -->
            </ion-list>

            <!-- <ion-item>
                <ion-label class="my-label">{{ 'LABEL_JA_CANDIDATADOS' | translate }}</ion-label>
                <ion-select formControlName="possuiCandidatos" [(ngModel)]="vagaDetalheEntity.possuiCandidatos" class="font-size-select capitalize-enum" cancelText="{{ 'CANCELAR' | translate }}">
                    <ion-option value="NULL">{{ 'LABEL_TODAS_INDUSTRIAS' | translate }}</ion-option>
                    <ion-option value="SIM">{{ 'LABEL_SIM' | translate }}</ion-option>
                    <ion-option value="NAO">{{ 'LABEL_NAO' | translate }}</ion-option>
                </ion-select>
            </ion-item> -->

            <button ion-button block style="margin-top: 20px;" color="navbarColor" class="span-style-color">{{ 'APLICAR_FILTRO' | translate }}</button>
        </ion-list>

    </form>

</ion-content>