<ion-header>

    <ion-navbar color="navbarColor">
        <ion-title>{{ 'ANUNCIAR_VAGA' | translate }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="criaVagaForm" (ngSubmit)="submeterVaga()">

        <ion-item-divider class="item-divider-style" style="margin-top: 0px;">
            {{ 'DADOS_VAGA' | translate }}
            <div item-content>
                <ion-icon ios="ios-person" md="md-person" item-start></ion-icon>
            </div>
        </ion-item-divider>

        <ion-item>
            <ion-label class="my-label">{{ 'EMPRESA' | translate }}</ion-label>
            <ion-select formControlName="idEmpresa" [(ngModel)]="VagaDetalheEntity.idEmpresa" class="font-size-select capitalize-enum" cancelText="{{ 'CANCELAR' | translate }}">
                <ion-option value="1">EMPRESA 1</ion-option>
                <ion-option value="2">EMPRESA 2</ion-option>
            </ion-select>
        </ion-item>
        <div *ngIf="!criaVagaForm.get('idEmpresa').valid && criaVagaForm.get('idEmpresa').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>


        <ion-item>
            <ion-label stacked>{{ 'NOME' | translate }}</ion-label>
            <ion-input formControlName="nome" [(ngModel)]="VagaDetalheEntity.nome" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
        </ion-item>
        <div *ngIf="!criaVagaForm.get('nome').valid && criaVagaForm.get('nome').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
        <div *ngIf="criaVagaForm.get('nome').hasError('maxlength')" [ngClass]="'class-error-form'">{{ 'MAX_100_CARACTERES' | translate }}</div>

        <ion-item>
            <ion-label stacked>{{ 'DESCRICAO_VAGA' | translate }}</ion-label>
            <ion-input formControlName="descricao" [(ngModel)]="VagaDetalheEntity.descricao" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
        </ion-item>
        <div *ngIf="!criaVagaForm.get('descricao').valid && criaVagaForm.get('descricao').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
        <div *ngIf="criaVagaForm.get('descricao').hasError('maxlength')" [ngClass]="'class-error-form'">{{ 'MAX_100_CARACTERES' | translate }}</div>

        <ion-item>
            <ion-label stacked>{{ 'DATA_FINAL_VAGA' | translate }}</ion-label>
            <ion-input formControlName="dataFinal" [(ngModel)]="VagaDetalheEntity.dataFinal" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
        </ion-item>
        <div *ngIf="!criaVagaForm.get('dataFinal').valid && criaVagaForm.get('dataFinal').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
        <div *ngIf="criaVagaForm.get('dataFinal').hasError('maxlength')" [ngClass]="'class-error-form'">{{ 'MAX_100_CARACTERES' | translate }}</div>

        <ion-item>
            <ion-label stacked>{{ 'QUANTIDADE_VAGAS' | translate }}</ion-label>
            <ion-input formControlName="qtdVaga" [(ngModel)]="VagaDetalheEntity.qtdVaga" type="number" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
        </ion-item>
        <div *ngIf="!criaVagaForm.get('qtdVaga').valid && criaVagaForm.get('qtdVaga').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

        <ion-item>
            <ion-label stacked>{{ 'SALARIO' | translate }}</ion-label>
            <ion-input formControlName="salario" [(ngModel)]="VagaDetalheEntity.salario" rows="5" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label class="my-label">{{ 'GENERO' | translate }}</ion-label>
            <ion-select formControlName="sexoEnum" [(ngModel)]="VagaDetalheEntity.sexoEnum" class="font-size-select capitalize-enum" cancelText="{{ 'CANCELAR' | translate }}">
                <ion-option value="FEMININO">{{ 'FEMININO' | translate }}</ion-option>
                <ion-option value="MASCULINO">{{ 'MASCULINO' | translate }}</ion-option>
            </ion-select>
        </ion-item>
        <div *ngIf="!criaVagaForm.get('sexoEnum').valid && criaVagaForm.get('sexoEnum').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>


        <!-- <ion-item>
            <ion-label stacked>{{ 'NACIONALIDADE' | translate }}</ion-label>
            <ion-input formControlName="nacionalidade" [(ngModel)]="VagaDetalheEntity.nacionalidade" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
        </ion-item>
        <div *ngIf="!criaVagaForm.get('nacionalidade').valid && criaVagaForm.get('nacionalidade').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
        <div *ngIf="criaVagaForm.get('nacionalidade').hasError('maxlength')" [ngClass]="'class-error-form'">{{ 'MAX_100_CARACTERES' | translate }}</div>

        <ion-item>
            <ion-label stacked>{{ 'EXPERIENCIA_PROFISSIONAL' | translate }}</ion-label>
            <ion-textarea formControlName="experienciaProfissional" [(ngModel)]="VagaDetalheEntity.experienciaProfissional" rows="5" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-textarea>
        </ion-item>
        <div *ngIf="criaVagaForm.get('experienciaProfissional').hasError('maxlength')" [ngClass]="'class-error-form'">{{ 'MAX_500_CARACTERES' | translate }}</div> -->

        <ion-item-divider class="item-divider-style" style="margin-top: 10px;">
            {{ 'DADOS_IDIOMA' | translate }}
            <div item-content>
                <ion-icon ios="ios-person" md="md-person" item-start></ion-icon>
            </div>
        </ion-item-divider>

        <ion-item>
            <ion-label class="my-label">{{ 'GRAU_ENTENDIMENTO' | translate }}</ion-label>
            <ion-select formControlName="grauEntendimento" [(ngModel)]="VagaDetalheEntity.grauEntendimento" class="font-size-select" cancelText="CANCELAR">
                <ion-option value="NENHUM">{{ 'NENHUM' | translate }}</ion-option>
                <ion-option value="BASICO">{{ 'BASICO' | translate }}</ion-option>
                <ion-option value="INTERMEDIARIO">{{ 'INTERMEDIARIO' | translate }}</ion-option>
                <ion-option value="AVANCADO">{{ 'AVANCADO' | translate }}</ion-option>
            </ion-select>
        </ion-item>
        <div *ngIf="!criaVagaForm.get('grauEntendimento').valid && criaVagaForm.get('grauEntendimento').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

        <ion-item>
            <ion-label class="my-label">{{ 'GRAU_FALA' | translate }}</ion-label>
            <ion-select formControlName="grauFala" [(ngModel)]="VagaDetalheEntity.grauFala" class="font-size-select" cancelText="CANCELAR">
                <ion-option value="NENHUM">{{ 'NENHUM' | translate }}</ion-option>
                <ion-option value="BASICO">{{ 'BASICO' | translate }}</ion-option>
                <ion-option value="INTERMEDIARIO">{{ 'INTERMEDIARIO' | translate }}</ion-option>
                <ion-option value="AVANCADO">{{ 'AVANCADO' | translate }}</ion-option>
            </ion-select>
        </ion-item>
        <div *ngIf="!criaVagaForm.get('grauFala').valid && criaVagaForm.get('grauFala').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

        <ion-item>
            <ion-label class="my-label">{{ 'GRAU_ESCRITA' | translate }}</ion-label>
            <ion-select formControlName="grauEscrita" [(ngModel)]="VagaDetalheEntity.grauEscrita" class="font-size-select" cancelText="CANCELAR">
                <ion-option value="NENHUM">{{ 'NENHUM' | translate }}</ion-option>
                <ion-option value="BASICO">{{ 'BASICO' | translate }}</ion-option>
                <ion-option value="INTERMEDIARIO">{{ 'INTERMEDIARIO' | translate }}</ion-option>
                <ion-option value="AVANCADO">{{ 'AVANCADO' | translate }}</ion-option>
            </ion-select>
        </ion-item>
        <div *ngIf="!criaVagaForm.get('grauEscrita').valid && criaVagaForm.get('grauEscrita').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>

        <ion-list>
            <ion-item>
                <ion-label stacked>{{ 'PROVINCIA' | translate }}</ion-label>
                <ion-select formControlName="idEstado" [(ngModel)]="VagaDetalheEntity.idEstado" (ionChange)="getCidadesByEstadoUsuario(VagaDetalheEntity.idEstado)" cancelText="CANCELAR">
                    <ion-option *ngFor="let estado of estados" value="{{estado.idEstado}}">{{estado.nome}}</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="!criaVagaForm.get('idEstado').valid && criaVagaForm.get('idEstado').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
        </ion-list>

        <ion-list>
            <ion-item>
                <ion-label stacked>{{ 'CIDADE' | translate }}</ion-label>
                <ion-select formControlName="idCidade" [(ngModel)]="VagaDetalheEntity.idCidade" cancelText="CANCELAR">
                    <ion-option *ngFor="let cidade of cidades" value="{{cidade.idCidade}}">{{cidade.cidade}}</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="!criaVagaForm.get('idCidade').valid && criaVagaForm.get('idCidade').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
        </ion-list>

        </div>

        <!-- <div *ngIf="!VagaDetalheEntity.idUsuario">
                    <ion-item style="margin-top: 20px;" text-wrap>
                        <ion-label stacked (click)="openModalTermosCadastro()" class="underline-class">{{ 'ACEITO_TERMOS' | translate }}</ion-label>
                        <ion-checkbox color="secondary" formControlName="statusAceitoTermoUso" id="statusAceitoTermoUso" [(ngModel)]="VagaDetalheEntity.statusAceitoTermoUso"></ion-checkbox>
                    </ion-item>
                    <div *ngIf="!criaVagaForm.get('statusAceitoTermoUso').valid && criaVagaForm.get('statusAceitoTermoUso').touched" [ngClass]="'class-error-form'">{{ 'CAMPO_OBRIGATORIO' | translate }}</div>
                </div> -->
        <!-- <button ion-button block type="submit" color="navbarColor" class="margin-button-save span-style-color">{{ 'ENTRAR' | translate }}</button> -->
        <div>
            <button ion-button block type="submit" color="navbarColor" class="margin-button-save span-style-color">{{ 'SALVAR' | translate }}</button>
        </div>
    </form>

</ion-content>