page-detalhe-candidato-vaga {
    .custom-avatar-vaga {
        height: 30vw;
        width: 30vw;
        border-radius: 7%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
}
