<ion-header>

    <ion-navbar color="navbarColor">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <span style="font-size: 16px;">{{ 'VAGAS_ARQUIVADAS' | translate }}</span>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="showFilter = !showFilter">
                <ion-icon ios="ios-search" md="md-search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content class="content-stable">
    <ion-searchbar (search)="filtrarPorNomeVaga($event)" (ionClear)="onCancelFilter($event)" (ionInput)="onInputFilter($event);" *ngIf="showFilter" placeholder="Buscar"></ion-searchbar>
    <div>
        <ion-list>

            <div class="h2-color-cards" text-wrap padding style="margin-top: 50px;" *ngIf="vagasArquivadas?.length == 0">
                <div style="text-align: center;color: #484848;"><strong>{{ 'SEM_VAGAS_ARQUIVADAS' | translate }}</strong></div>
                <div style="text-align: center;">
                    <ion-icon style="font-size: 30px;color: #484848;" ios="md-sad" md="md-sad"></ion-icon>
                </div>
            </div>
            <button ion-item *ngFor="let vaga of vagasArquivadas" text-wrap (click)="callTelaCriarVagaByIdVaga(vaga.idVaga)">
                <span style="font-size: 15px;"><strong>{{ vaga.nome }}</strong></span>
                <p>{{ vaga.cidadeEstadoFormat }}</p>
                <p>{{ 'LABEL_ENCERRADA' | translate }} {{ vaga.dataEncerramentoFormat }}</p>
            </button>
        </ion-list>

    </div>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>