<ion-header no-border>

    <ion-navbar color="navbarColorBlue">
        <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
        <ion-title>
            <span>{{ 'CANDIDATO_DETALHE' | translate }}</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<!-- <ion-content class="content-stable"> -->
<ion-content>

    <div *ngIf="usuarioDetalheVagaEntity.nomePessoa">

        <!-- <ion-card text-wrap text-center class="hide-card" style="background-color: #0C4B6D;"> -->
        <div text-wrap text-center class="hide-card" style="background-color: #0C4B6D;">
            <div class="custom-avatar" style="margin-top: 30px;">
                <img src="assets/imgs/no-photo.png" *ngIf="!usuarioDetalheVagaEntity.imagemPessoaBs64" class="custom-avatar-vaga" />
                <img [src]="sanitizer.bypassSecurityTrustUrl(usuarioDetalheVagaEntity.imagemPessoaBs64)" *ngIf="usuarioDetalheVagaEntity.imagemPessoaBs64" class="custom-avatar-vaga" />
            </div>

            <!-- <ion-card-content> -->
            <div>
                <p style="color: #fff">{{ usuarioDetalheVagaEntity.nomePessoa }}</p>
                <ion-row>
                    <ion-col style="color: #fff">

                        <div>
                            <ion-icon ios="ios-mail" md="md-mail"></ion-icon> {{ usuarioDetalheVagaEntity.email }}</div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col style="color: #fff">

                        <div>
                            <ion-icon ios="ios-call" md="md-call"></ion-icon> {{ usuarioDetalheVagaEntity.telefonePessoa }}</div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="usuarioDetalheVagaEntity.telefonePessoa2">
                    <ion-col style="color: #fff">

                        <div>
                            <ion-icon ios="ios-call" md="md-call"></ion-icon> {{ usuarioDetalheVagaEntity.telefonePessoa2 }}</div>
                    </ion-col>
                </ion-row>
            </div>
            <!-- </ion-card-content> -->

        </div>
        <!-- </ion-card> -->

        <!-- <ion-card text-wrap style="margin-bottom: 50%;"> -->
        <div padding text-wrap style="margin-bottom: 50%;">
            <!-- <ion-card-content> -->
            <div>
                <p style="text-align: center;"><strong>{{ usuarioDetalheVagaEntity.nomeVaga }}</strong></p>
                <hr style="border: 0.1px solid #999;">
                <p *ngIf="usuarioDetalheVagaEntity.genero == 'Feminino'">
                    <ion-icon ios="ios-female" md="md-female" class="icon-card-color"></ion-icon> {{ 'GENERO' | translate }}: {{ usuarioDetalheVagaEntity.genero }}</p>
                <p *ngIf="usuarioDetalheVagaEntity.genero == 'Masculino'">
                    <ion-icon ios="ios-male" md="md-male" class="icon-card-color"></ion-icon> {{ 'GENERO' | translate }}: {{ usuarioDetalheVagaEntity.genero }}</p>
                <p>
                    <ion-icon ios="ios-star" md="md-star" class="icon-card-color"></ion-icon> {{ 'IDADE' | translate }}: {{ usuarioDetalheVagaEntity.idade }}</p>
                <p>
                    <ion-icon ios="ios-globe" md="md-globe" class="icon-card-color"></ion-icon> {{ 'NACIONALIDADE' | translate }}: {{ usuarioDetalheVagaEntity.nacionalidade }}</p>

                <div>
                    <hr style="border: 0.1px solid #999;">
                    <p>
                        <ion-icon ios="ios-pin" md="md-pin" class="icon-card-color"></ion-icon> {{ 'ENDERECO' | translate }}: {{ usuarioDetalheVagaEntity.endereco }}</p>
                </div>


                <!-- <p class="border-top-color"> -->
                <div>
                    <hr style="border: 0.1px solid #999;">
                    <p style="text-align: center;"><strong>{{ 'NIVEL_IDIOMA_JAPONES_CANDIDATO' | translate }}</strong></p>
                    <p style="margin-top: 10px;">
                        <ion-icon ios="ios-chatboxes" md="md-chatboxes" class="icon-card-color"></ion-icon> {{ 'GRAU_ENTENDIMENTO' | translate }}: {{ usuarioDetalheVagaEntity.grauEntendimento }}</p>
                    <p style="margin-top: 10px;">
                        <ion-icon ios="ios-megaphone" md="md-megaphone" class="icon-card-color"></ion-icon> {{ 'GRAU_FALA' | translate }}: {{ usuarioDetalheVagaEntity.grauFala }}</p>
                    <p style="margin-top: 10px;">
                        <ion-icon ios="ios-create" md="md-create" class="icon-card-color"></ion-icon> {{ 'GRAU_ESCRITA' | translate }}: {{ usuarioDetalheVagaEntity.grauEscrita }}</p>
                    <hr style="border: 0.1px solid #999;">
                    <p style="margin-top: 10px;">
                        <ion-icon ios="ios-book" md="md-book" class="icon-card-color"></ion-icon> {{ 'EXPERIENCIA_PROFISSIONAL' | translate }}: {{ usuarioDetalheVagaEntity.experienciaProfissional }}</p>
                </div>
                <!-- </ion-card-content> -->
            </div>
        </div>
        <!-- </ion-card> -->

    </div>
</ion-content>
<ion-footer *ngIf="!usuarioDetalheVagaEntity.isFinalista && usuarioDetalheVagaEntity.nomePessoa">
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <button ion-button clear item-end icon-left color="danger" (click)="verificaDescartarCandidatoVaga()"><ion-icon ios="ios-close" md="md-close"></ion-icon>
                    <strong>{{ 'BTN_DESCARTAR' | translate }}</strong></button>
            </ion-col>
            <ion-col>
                <button ion-button clear item-end icon-left (click)="verificaFavoritarCandidatoVaga()"><ion-icon ios="ios-star" md="md-star"></ion-icon>
                    <strong>{{ 'BTN_FINALISTA' | translate }}</strong></button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>